{% extends "base.html" %}
{% load static %}
{% block title %}
        <title>Вход</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link href="{% static "login.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <link href="{% static "login.css" %}" rel="stylesheet">
    <div>
	<form method="post" action="{% url 'login' %}">
	  {% csrf_token %}

	  <div class="container">
		<label for="uname"><b>Логин</b></label>
		<input type="text" placeholder="Ввведите логин" name="username" required>

		<label for="psw"><b>Пароль</b></label>
		<input type="password" placeholder="Введите пароль" name="password" required>

		<button type="submit" value="login">Войти</button>
	  </div>
	</form>
    </div>

    <style>
    /* Bordered form */

    /* Full-width inputs */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }


    /* Add padding to containers */
    .container {
      padding: 0 15px;
    }

    @media (min-width: 375.98px){
      .container {
        max-width: 340px;
        margin: auto;
        padding: 0;
      }
    }

    @media (min-width: 467.98px){
      .container {
        max-width: 420px;
      }
    }

    @media (min-width: 691.98px) {
      .container {
        max-width: 360px;
      }
    }

    @media (min-width: 799.98px){
      .container {
        max-width: 740px;
      }
    }
    </style>
{% endblock %}

