{% extends "base.html" %}
{% block title %}Blogs{% endblock %}
{% block content %}
    <h2>Posts</h2>
    {% for post in page_obj %}
        <div class="post">
            <h4>{{ post.title }}</h4>
            <div class="post-body">{{ post.body }}</div>
            <div class="author">by {{ post.author.username }}</div>
        </div>
    {% endfor %}
{% endblock %}
{% block pagination %}
    {% for page_number in page_obj.paginator.get_elided_page_range %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
            {{page_number}}
        {% else %}
            <a
                href="{% url 'main_pagination' page_number %}"
                class="{% if page_number == page_obj.number %}current{% endif %}"
            >
                {{page_number}}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}